body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.header {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a {
    color: #0B132A;
    text-decoration: none;
    font-weight: 600;
}

#singup {
    border: 1px solid #F53855;
    margin-left: 30px;
    color: #F53855;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 50px;

}

#top-menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    column-gap: 40px;
    color: rgba(79, 86, 101, 1);
    font-weight: 400;

}

main {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    display: flex;
    align-items: center;
    margin-top: 93.38px;
}

.left,
.right {
    width: 50%;
}

.left h1 {
    font-weight: 500;
    font-size: 45px;
    color: #0B132A;
}

.left,
.p {
    color: #4F5665;

}

.hero-button {
    background-color: #F53838;
    border: none;
    color: #FFFFFF;
    padding: 17.5px 77.5px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 30px 50px rgba(245, 56, 56, 0.5);
    cursor: pointer;

}

img {
    max-width: 100%;
}

.service-overview {
    display: flex;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 100px 100px rgb(231, 231, 231);
}


.one,
.two,
.three {
    flex-basis: 33.33%;
    padding: 50px;
    text-align: center;
    display: flex;
    column-gap: 20px;

}


h4,
p {
    margin: 5px;
}

.service-overview i {
    padding: 15px;
    background-color: #FFECEC;
    color: #F53838;
    border-radius: 70px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    margin-top: 28.32px;

}

.feature div {
    flex-basis: 50%;
}

.feature ul {
    padding: 0;
    margin: 0;
    margin-top: 30px;

    list-style: none;
}

.feature li {
    margin-bottom: 10px;
    color: #4F5665;
}

.feature i {
    color: #2FAB73;
    margin-right: 10px;


}

.feature p {
    color: #4F5665;
}

.priceing{
    margin-top: 80px;
}
.priceing h1{
  text-align: center;
  color: #0B132A;

}
.priceing p{
 text-align: center;
 margin-bottom: 50px;
 color: #4F5665;
}
.priceing-boxes{
    display: flex;
    column-gap: 50px;
   margin-top: 50px;
}
.box{
    flex-basis: 33.33%;
  height: 560px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 50px;
  border: 2px solid #dddddd;
  flex-direction: column;
}
.box ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.box ul li{
    margin-bottom: 20px;
     color: #4f5665;
}
.priceing-boxes h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
ul i{
    color: #2FAB73;
    margin-right: 20px;
}
.priceing-button{
    color: #F53838;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    padding: 13px 62.94px;
    border-radius: 50px;
    border: 2px solid #F53838;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}
.priceing-button2{
    color: #F53838;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 62.94px;
    border-radius: 50px;
    border: 2px solid #F53838;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.priceing-button3{
    color: #FFFFFF;
    background-color: #F53855;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 62.94px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    box-shadow: 0 30px 50px rgba(245, 56, 56, 0.5);
    
}
