body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.header{
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
a{
    color: #0B132A;
    text-decoration: none;
    font-weight: 600;
}
#singup {
    border: 1px solid #F53855;
    margin-left: 30px;
    color:#F53855 ;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 50px;
    
}
#top-menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    column-gap: 40px;
    color: rgba(79, 86, 101, 1);
    font-weight: 400;
    
}
main{
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}
.hero{
    display: flex;
    align-items: center;
    margin-top: 93.38px;
}
.left,.right{
   width: 50%;
}
.left h1{
    font-weight: 500;
    font-size: 45px;
    color: #0B132A;
}
.left,.p{
    color: #4F5665;
    
}
button{
    background-color: #F53838;
    border: none;
    color: #FFFFFF;
    padding: 17.5px 77.5px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 30px 50px rgba(245, 56, 56,0.5);
    cursor: pointer;

}
img{
    max-width: 100%;
}
.service-overview{
    display: flex;
    margin-top: 50px;
    border-radius: 8px;
   box-shadow: 0 100px 100px rgb(231, 231, 231);
}


.one,.two,.three{
    flex-basis: 33.33%;
  padding: 50px;
  text-align: center;
  display: flex;
  column-gap: 20px;
  
}


h4,p{
    margin: 5px;
}

.service-overview i {
    padding: 15px;
    background-color: #FFECEC;
    color: #F53838;
    border-radius:70px;
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}